body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.container {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}
#overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: brown;
}
nav {
  margin: 0 auto;
  margin-right: 0%;
  transition: 0.2s;
}
.logo{
    float: left;
    margin-top: 1.5%;
    text-align: center;
}
span{
    font-size: 4vh;
    color: white;
    text-shadow: darkmagenta 2px 2px 2px;
    text-decoration: none;
}
em{
    color: rgb(17, 31, 60);
}
nav > ul {
  text-align: right;
}
nav > ul > li {
  display: inline-block;
}
ul > li > a {
  padding: 20px;
  margin-right: 0;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  display: block;
  color: white;
  font-size: 3vh;
}
.logo>a:hover{
    text-decoration: none;
}
nav > ul > li > a:hover {
  box-shadow: 2px 5px 10px darkmagenta;
  background: white;
  border-bottom: 4px solid purple;
  text-decoration: none;
}

 /* Kenya */
 #about{
    margin-top: 8%;
 }
 #about>img{
    float: left;
    width: 50%;
    height: 71vh;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
 }
 #about h2{
     text-align: center;
     font-size: 4vh;
     font-weight: bolder;
     text-transform: uppercase;
 }
 #about>p{
    font-size: 2.5vh;
    color: black;
    line-height: 1.6;
    width: 95vw;  
 }
 hr{
    border: 1px solid rgb(17, 31, 60);
    margin-bottom: 30px;
    width: 92vw;
    margin-left: 5%;
 }
 #about .btn{
     font-weight: bolder;
     margin-left: 20% ;
 }

 /* South Africa */
#capetown>h3{
   font-size: 4vh;
   font-weight: bolder;
   color: black; 
   margin-left: 10%;
  text-align: center;
}
.south>p>ol{
   font-size: 3vh;
   font-weight: bold;
   color: rgb(82, 123, 175);
}
.south>img{
   width: 40%;
   height: 50vh;
   border-radius: 10px;
  margin-right: 1%;
   margin-left: 7%;
}
.south>.top{
   width: 50%;
   float: right;
   margin-right: 1%; 
}
#capetown .btn{
    font-weight: bolder;
    margin-left: 5% ;
}
